@import "../../stylesheets/variables";

.recommendations-page {
  padding: 0 1.6rem;

  &__title {
    margin-top: 2.4rem;
    font-family: $app-font-bold;
    font-size: 2rem;
    color: white;
  }
}
.filter-icon-button {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 1.6rem;
}
