@import "../../stylesheets/variables";

.recommendations-page {
  padding: 0 $app-main-content-padding-mobile;

  &__title {
    margin-top: 2.4rem;
    font-family: $app-font-bold;
    font-size: 2rem;
    color: white;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 2.4rem;
  }
}
.filter-icon-button {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 50rem;
}

@media screen and (min-width: 768px) {
  .recommendations-page {
    padding: 0 $app-main-content-padding;

    &__content {
      grid-template-columns: repeat(
        auto-fit,
        minmax(150px, 1fr)
      );
    }
  }
}

@media screen and (min-width: 992px) {
  .recommendations-page {
    &__content {
      grid-template-columns: repeat(
        auto-fit,
        minmax(180px, 1fr)
      );
    }
  }
}
