// Colors
$spotify-black: #191414;
$spotify-green: #1DB954;
$spotify-dark-green: #169c46;
$spotify-white: #FFFFFF;

// Fonts
$app-title-font: "Sansation-Bold";
$app-font-bold: "WorkSans-Bold";
$app-font-semibold: "WorkSans-SemiBold";
$app-font-medium: "WorkSans-Medium";
$app-font-regular: "WorkSans-Regular";
