@import "../../stylesheets/variables";

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.67);
}

.dialog {
  position: relative;
  width: 400px;
  padding: 2.4rem;
  border-radius: 3rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-family: $app-font-regular;
  margin: 0 2.4rem;

  &__header {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
  }

  &__header-message {
    text-align: center;
  }

  &__exit-icon {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    width: 2.4rem;
    height: 2.4rem;
  }

  &__exit-icon:hover {
    cursor: pointer;
    background-color: lightgrey;
    border-radius: 50%;
  }

  &__main-message {
    font-size: 1.2rem;
    margin-bottom: 2.4rem;
  }
}

@media screen and (min-width: 768px) {
  .dialog {
    &__header {
      font-size: 2rem;
    }

    &__main-message {
      font-size: 1.6rem;
    }
  }
}
