@import "../../stylesheets/variables";

.filter-page {
  padding: 0 $app-main-content-padding-mobile;
}

.ok-icon-button {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 10rem;
}

@media screen and (min-width: 768px) {
  .filter-page {
    padding: 0 $app-main-content-padding;
  }
}
