@import "../../stylesheets/variables";

.filter-page {
  padding: 0 1.6rem;
}

.ok-icon-button {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 50rem;
}

@media screen and (min-width: 768px) {
}
